body {
    background-color: #EBE3E0;
}

h1 {
    color: #6D635D;
    font-size: 69px;
    padding: 36px;
}

td {
    background-color: #E3D6C6;
    color: #6D635D;
    text-shadow: 1px 1px 1px #FFFFFF;
}