<!doctype html>
<html lang="en" ng-app='multiplyApp'>
<head>
    <meta charset="UTF-8">
    <title>Multiplication Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/master.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="js/master.js"></script>
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Multiplication Table</h1>
            </div>
        </div>
        <div ng-controller="MultiplicationCtrl">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <input type="number" name="user-input" ng-model="numberLimit" placeholder="Enter a number"/>
                </div>
                <br /><br />
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <table class="table table-bordered text-center" initial-number-limit="10">
                        <tr ng-repeat="numberY in numbers">
                            <td ng-repeat="numberX in numbers"
                                ng-mouseover="setActiveFactors(numberX, numberY)"
                                ng-mouseleave="clearActiveFactors()"
                                ng-class="{hover: matchesFactors(numberX, numberY)}">
                                {{ compute(numberX, numberY) }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>